.header {
   height: 100px;
   padding: 10px;
   z-index: 100;
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__img {
      z-index: 2;
      min-width: 80px;
      min-height: 80px;
      position: relative;
   }
   &__img img{
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height: 100%;
   }
   &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
   }
   &__icon{
      position: relative;
      width: 50px;
      height: 50px;
      transition: .2s;
      border-radius: 5px;
   }
   &__icon:hover{
      background: rgba($color: $mainColor, $alpha: 0.2);
      border-radius: 10px;
   }
   &__icon img{
      padding: 10px;
      position: absolute;
      width:100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
   }
   &__icon.shop {
      position: relative;
   }
   &__icon.shop::after {
      content: '1';
      position: absolute;
      top: 0;
      right: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #D73636;
      font-size: 10px;
      color: $white;
      font-weight: bold;
   }
}
.menu {

   &__list {
      display: flex;
      gap: 25px;
   }
   &__link {
      color: $white;
      font-weight: bold;
      font-size: 14px;
      padding: 10px;
      transition: .2s;
      border-radius: 5px;
   }
   &__link:hover{
      background: rgba($color: $mainColor, $alpha: 0.2);
      border-radius: 10px;
   }
   &__burger {
      display: none;
   }
}


// adapted burger <====================================================================================================================================================================================================================================>
@media (max-width:767px) {
body.lock
{
   overflow: hidden;
}
.menu{
   &__burger{
      display: block;
      position: relative;
      top: 0;
      right:  0;
      height: 50px;
      width: 50px;
      margin:10px;
      overflow:hidden ;
      z-index:2;
   }
   &__body{
      overflow: auto;
      position: fixed;
      right: 0;
      top: -100%;
      width:100%;
      height:100%;
      padding: 80px 0 0 0 ;
      background: rgba($color: $black, $alpha: 0.5);
      backdrop-filter: blur(3px);
      transition: .3s;
   }
   &__body.active{
      top: 0;
   }
   &__list {
      flex-direction: column;
      align-items: center;
   }
   &__link {
      
   }
}
}
