.open {
   margin-top: -100px;
   height: 100vh;
   width: auto;
   position: relative;
   & > img{
      z-index: -1;
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
   }
   &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 20px;
      height: 100vh;
   }
   &__description {
      color: $white;
      display: flex;
      flex-direction: column;
      gap: 50px;
   }
   &__title {
      font-size: 30px;
      font-weight: 900;
   }
   &__span-title {
      position: relative;
      color: $mainColor;
   }
   &__span-title::after{
     content:'';
     position: absolute;
     width: 110%;
     height:100%;
     left: -5%;
     top:0;
     border-radius: 50%;
     background: rgba(13, 210, 46, 0.53);
     filter: blur(75px);
   } 
   &__text {
      color: rgba($color: $white, $alpha: 0.78);
      font-size: 15px;
      width: 100%;
   }
   &__buttons {
      display: flex;
      align-items: center;
      gap: 56px;
   }
   &__btn-buy {
      font-weight: 800;
      font-size: 15px;
      color: $white;
      background: linear-gradient(84.4deg, #0DD22E 2.31%, #077719 97.73%);
      box-shadow: 0px 4px 4px rgba(13, 210, 46, 0.2);
      border-radius: 15px;
      padding: 20px 40px;
      transition: .2s;
   }
   &__btn-buy:hover{
      transform: translateY(4px);
      box-shadow: 0px 0px 4px rgba(13, 210, 46, 0.2);
   }
   &__price {
      font-weight: 700;
      font-size: 35px;
   }
   &__big-img {
      position: relative;
      width: 100%;
      height:  50%;
      //background: #000;
      aspect-ratio: 639 / 510;
   }
   &__big-img img{
      position: absolute;
      top: 0px;left: 0;
      height: 100%;
      object-fit: contain;
   }
   &__big-img::after{
      content:'';
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      border-radius: 50%;
      background: rgba(13, 210, 46, 0.27);
      filter: blur(150px);
   }
}
